input {
    &.small {
        width: 130px;
        height: 50px;
        font-size: 14px;
        text-align: center;
    }
    &.medium {
        width: 425px;
        height: 95px;
        font-size: 50px;
        text-align: center;
    }
    &.large {
        width: 630px;
        height: 55px;
        font-size: 60px;
        text-align: center;
    }
}