@import "../../scss/colors.scss";
a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    font: inherit;
    outline: inherit;
}

button,
a {
    color: $color-text;
    //remove button default styling
    padding: 0;
    cursor: pointer;
    &.primary {
        background: $color-primary;
        &.light {
            background: $color-primary-light;
        }
        &.dark {
            background: $color-primary-dark;
        }
    }
    &.secondary {
        background: $color-secondary;
        &.light {
            background: $color-secondary-light;
        }
        &.dark {
            background: $color-secondary-dark;
        }
    }
    &.small {
        font-size: 12px;
        margin: 0.5rem;
        padding: 1px 10px;
        border-radius: 4px;
    }
    &.medium {
        margin: 0.5rem;
        padding: 8px 8px;
        border-radius: 4px;
    }
    &.large {
        font-size: 24px;
        margin: 0.5rem;
        padding: 8px 8px;
        border-radius: 10px;
    }
    &.action {}
    &.lien {}
}